<% require 'date' %>

<div class="card mr-0 border-0 align-top">
    <div class="heading">
        <h1><%= @pokemon.pokedex.species %></h1>
        <%= cl_image_tag @pokemon.pokedex.artwork.key, height: 300, width: 300, crop: :fill %>
        </div>
        <div class="card-body">
        <h5 class="card-title"><%= @pokemon.name %></h5>
        <div class="card-text">
            <p>description: <br><%= @pokemon.description %></p>
        </div>
        <h2 class="card-pokemon-pricing">$ <%= @pokemon.price.to_i.to_s %> / day</h2>
        <p>owner: <%= @pokemon.user.username.capitalize %></p>
    </div>
</div>


<div class="card ml-0 border-0 p-5 w-75">
    <div class="container card-btn pb-4">
        <%= link_to 'I want it!', new_pokemon_rental_path(@pokemon), class:'btn btn-primary rounded' %>
    </div>
    <div class="heading pl-5">
    <% if (@pokemon.reviews.length == 0) %>
        <h3><%= @pokemon.name %> has no review</h3>
    <% else %>
        <h3><%= @pokemon.name %>'s reviews</h3>
    <% end %>
    </div>
    <div class="card-body">
    <% @pokemon.reviews.each do |review| %>
        <div class="card w-100" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title"><%= review.rental.user.username.capitalize %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= review.created_at.to_s.split(' ')[0] %></h6>
            <p class="card-text"><%= review.description %></p>
            </div>
        </div>
    <% end %> 
    </div>
</div>

