<%= simple_form_for [ @rental, @review ] do |f| %>
    <h2>You are reviewing:</h2>
    <h2><%=@rental.pokemon.name%></h2>
    <%= cl_image_tag @rental.pokemon.pokedex.artwork.key, height: 300, width: 300, crop: :fill %>
    <ul>
        <li><strong>Species:</strong> <%=@rental.pokemon.pokedex.species%></li>
        <li><strong>Owner:</strong> <%=@rental.pokemon.user.username.capitalize%></li>
    </ul>
    <%= f.input :description %>
    <%= f.input :rating %>
    <%= f.submit %>
<% end %>