<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-center" id='pokemon-rental-dates' data-unavailable="<%= @pokemon.unavailable_dates.to_json %>">
      <% if current_user.id != @pokemon.user_id  %>
        <%= simple_form_for [ @pokemon, @rental ] do |f| %>
          <h3>You are renting</h3>
          <h1><%= @pokemon.name %></h1>

          <%= cl_image_tag @pokemon.pokedex.artwork.key, crop: :fill, class: 'img-fluid' %>
          <ul class="text-left">
            <li><strong>Owner</strong>: <%= @pokemon.user.username %></li>
            <li><strong>Species</strong>: <%= @pokemon.pokedex.species %></li>
            <li><strong>Location</strong>: <%= @pokemon.location %></li>
            <li><strong>Price: $ <%= @pokemon.price.to_i %> / day</strong></li>
          </ul>
          <div class='w-50 mx-auto'>
            <%= f.input :start_date, as: :string, type: :text %>
          </div>
          <div class='w-50 mx-auto'>
            <%= f.input :end_date, as: :string, type: :text %>
          </div>
          <h2 class="my-3">
            Total: <span id="total_price" data-price="<%= @pokemon.price.to_i %>">$0.00</span>
          </h2>
          <%= f.submit 'Rent this Pokémon', id: 'submitBtn', class: 'btn btn-primary', disabled: true %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'rental_new', 'data-turbolinks-track': 'reload', defer: true %>
