
<div class= "p-3">
<h1>Pokemon Type for rent</h1>
</div>

<div class="container">
  <div class="grid-card">
    <% @pokemon.each do |pokemon| %>
      <div class="card rounded border-primary" style="width: 18rem;">
        <%= cl_image_tag pokemon.pokedex.artwork.key, height: 300, width: 300, crop: :fill %>
        <div class="card-body">
          <h5 class="card-title"><%= pokemon.name %></h5>
          <div class="card-text">
          <strong>description:</strong> <br>
          <%= pokemon.description %> <br>
          <strong>price:</strong> $ <%= pokemon.price.to_i.to_s %> <br>
          <strong>pokedex:</strong> <%= pokemon.pokedex.species %> <br>
          <strong>user:</strong> <%= pokemon.user.username.capitalize %>
          </div>
            <%= link_to 'Rent Now!', new_pokemon_rental_path(pokemon), class:'btn btn-primary' %>
            <%= link_to 'More details', pokemon_path(pokemon), class:'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
