<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6">
      <h1> List Your Pokémon </h1>
      <%= simple_form_for @pokemon do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price, label: 'Price per day:' %>
        <%= f.input :location %>
        <%= f.association :pokedex, collection: Pokedex.order('id ASC') %>
        <%= f.submit 'List my Pokemon', id: 'submitBtn', class: 'btn btn-primary', disabled: true %>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'pokemons_new', 'data-turbolinks-track': 'reload', defer: true %>
